* {cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1155.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1155.png), auto !important;}

    /* BODY */

    body {
        background-color: blue;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: 100% 100%;
    }

    /* SELECTION */

    ::selection {
        color: red;
        background: yellow;
    }

    /*  LINK */

    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: whitesmoke;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: white;
        background-color: transparent;
        text-decoration: underline;
    }


    /* TOP NAVIGATION */
    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }


    /* FONT */
    .tomorrow-thin {
        font-family: "Tomorrow", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .tomorrow-extralight {
        font-family: "Tomorrow", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .tomorrow-light {
        font-family: "Tomorrow", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .tomorrow-regular {
        font-family: "Tomorrow", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .tomorrow-medium {
        font-family: "Tomorrow", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .tomorrow-semibold {
        font-family: "Tomorrow", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .tomorrow-bold {
        font-family: "Tomorrow", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .tomorrow-extrabold {
        font-family: "Tomorrow", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .tomorrow-black {
        font-family: "Tomorrow", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .tomorrow-thin-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .tomorrow-extralight-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .tomorrow-light-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .tomorrow-regular-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .tomorrow-medium-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .tomorrow-semibold-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .tomorrow-bold-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .tomorrow-extrabold-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .tomorrow-black-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 900;
        font-style: italic;
    }



    /* HEADER */
    header{
              display: flex;
              text-align: center;
              align-items: center;
              flex-direction: row; /* This is default so you can omit it but it's good to be explicit  */
              justify-content: flex-start; /* This will snap all content of header to the left due to 'flex-direction: row'  */
              background-color: white;
              border-bottom: solid;
              padding: 10px; /* Padding top/bottom then left/right. 1rem = default pixel size of html font (14px or 16px etc) so 0.5rem = 7px or 8px  */
    }


